@namespace xml "http://www.w3.org/XML/1998/namespace";


body {
 margin:auto;
 width:70%;
}

#front { 
 margin-top:2em;
 }

p {
 text-indent:2em;
 margin:.1em 0 0 0;
 padding:0;
 line-height:1.4em;
 }
 
 .abstract,#abstract {
  margin-left:3em;
  margin-right:3em;
  margin-top:2em;
 }
 
 .keywords,#keywords {
  margin-left:3em;
  margin-right:3em;
  margin-top:2em;
  margin-bottom:2em;
 }

  #tableofcontents{
   margin-top:2em;
   margin-bottom:2em;
   margin-left:3em;
   font-style:italic;
   }
 
  #tableofcontents li {
   font-style:italic;
   text-indent:0;
   padding-left:0;
   }
 
   
 .subjects,#subjects {
  margin-left:3em;
  margin-right:3em;
  margin-top:2em;
  margin-bottom:2em;
 }
 
  h1 {
   font-size:1.5em;
   text-align:center
  }

header > h2 {
 text-align: center;
 }
 
  h2 {
   margin-top:1em;
   margin-bottom:.2em;
   font-size:1em;
   font-weight:bold;
   text-align:left;
   padding:0;
  }
 

  h3,h4 {
   margin-top:1em;
   margin-bottom:0;
   font-size:1em;
   font-weight:normal;
   font-style:italic;
   text-align:left;
   padding:0;
  }
  
 .textindent0 {
   text-indent:0;
  }
  
 .margintop15em {
    margin-top:1.5em;
    }
    
 .indentedblock {
   text-indent:0;
   margin:1.5em 2em 1em 2em;
   padding:0;
   }

 a {
    border-bottom:thin dotted gray;
    color:black;
    text-decoration:none;
  }


 sup {
    line-height:0;
    color:black;
    }
 
    
  
table
{ 
width:90%;
margin-left: auto;
margin-right: auto;
margin-top:1em;
margin-bottom:1em;
}

table caption {
margin-top:1em;
}

.figure {text-indent:0;margin-top:2em;text-align:center}
p.figure_title {font-family:sans-serif;text-indent:0;font-size:smaller;font-weight:bold;text-align:center;margin-bottom:1em}
p.figure_caption {font-family:sans-serif;text-indent:0;font-size:smaller; margin-bottom:2em;}
p.figure > img {max-width:90%}
	 
	    .work_cited {
     margin-left:.25in;
     text-indent:-.25in
     }
     
     #works_cited a {
   border-bottom:thin dotted gray;
   color:gray;
  }
  
   .work_cited_links {
     color:gray;
     }
    
    .work_cited {
     margin-left:.25in;
     text-indent:-.25in
     }
     
   .editorial_note {
    font-style:italic;
    margin-top:5px;
    margin-top:5px;
    }



*[xml|lang |= 'grc'] {
font-family:"New Athena Unicode";
}
       
*[xml|lang |= 'egyd'] {
font-family:Umschrift_TTn;
}
       
    *:lang(grc){font-family:"New Athena Unicode";}
    *:lang(egyd){font-family:Umschrift_TTn;}
 

*[xml|lang |= 'syr'] {
   font-family:"Serto Urhoy"; 
}

xml:lang(syr) {
 font-family:"Serto Urhoy";
 }
