.work-cited {
  text-align:left;
  margin-top:.125em;
  margin-left:.25in;
  text-indent:-.25in
  }

.abstract {

  text-indent:0;
  margin-left:3em;
  margin-right:3em;
  margin-top:2em;
 }

body {
 margin:auto;
 width:70%;
}

.edition-line {
 tab-size: 8;
}

.editorial-note {
 font-style:italic;
 margin-top:5px;
 margin-top:5px;
 }

figcaption {
 
}

footer {
 text-indent:0;
 border-style-top:dotted;
 margin-top:1em;
}

footer p {
 text-indent:0;
}

#front { 
 margin-top:2em;
 }

h1 {
   font-size:1.5em;
   text-align:center
  }
 
h2 {
   margin-top:1em;
   margin-bottom:.2em;
   font-size:1em;
   font-weight:bold;
   text-align:left;
   padding:0;
  }
 

h3,h4 {
   margin-top:1em;
   margin-bottom:0;
   font-size:1em;
   font-weight:normal;
   font-style:italic;
   text-align:left;
   padding:0;
  }

header {
 margin-top: 2em;
 margin-bottom:1em;
}

header > h2 {
 text-align: center;
 }



.keywords,#keywords {
  margin-left:3em;
  margin-right:3em;
  margin-top:2em;
  margin-bottom:2em;
 }

li { text-align: justify }

.author,#author {
 text-align:center;
}
 
p {
 text-indent:1em;
 padding:0;
 margin: 0;
 line-height:1.4em;
 text-align: justify;
 tab-size: 8;
 }
 
.doi {
 text-align:center;
 padding: 10px;
}

.subjects,#subjects {
 text-indent:0;
  margin-left:3em;
  margin-right:3em;
  margin-top:2em;
  margin-bottom:2em;
 }

#tableofcontents {
   margin-top:2em;
   margin-bottom:2em;
   margin-left:3em;
   font-style:italic;
   }
 
#tableofcontents li {
   font-style:italic;
   text-indent:0;
   padding-left:0;
   margin-top:.5em;
   }
 
   
 
  
 .textindent0 {
   text-indent:0;
  }
  
 .margintop15em {
    margin-top:1.5em;
    }
    
 .indentedblock {
   text-indent:0;
   margin:1.5em 2em 1em 2em;
   padding:0;
   }

blockquote {
 text-align: justify;
}

a {
    border-bottom:thin dotted gray;
    color:black;
    text-decoration:none;
}


sup {
    line-height:0;
    color:black;
}
  
table
{ 
width:90%;
margin-left: auto;
margin-right: auto;
margin-top:1em;
margin-bottom:1em;
}

table caption {
margin-top:1em;
}

figure {
 margin-left: auto;
 margin-right: auto
}

figcaption {
 width:90%;
 margin: 0 auto;
 margin-top:.4em;
 margin-bottom:.6em;
 text-align:center
}


img {
 display: block;
 max-width:500px;
 max-height: 500px;
margin-left: auto;
 margin-right: auto
} 

img.img-wide {
 max-width: 750px;
 max-height: 750px;
}
 
.endnote,.footnote {
 text-indent:0;
 margin-top:.125em;
 }
  
#works-cited a {
 border-bottom:thin dotted gray;
 color:gray;
 }

.work-cited-links {
 color:gray;
 }
    
     

